body { 
	padding-top: 70px; 
	min-height: 600px;
	margin-bottom: 0;
	background-image: url('Images/Gallery1.jpeg'); 
	background-size: cover; 
	background-attachment: fixed;
}

.nav a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.hover-item {
  color: black;
}

.nav ul {
  display: inline;
}
.nav li {
  display: inline-block;
}

.navbar-default {
    background-color: #304155;
    height: 40px; 
}    


.Title h1{
	font-family: 'constantia';
	color: red;
	font-size: 1200%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-align: center;
}

h1{
	font-family: 'constantia', bold;
   color: white;
	font-size: 400%;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}

#China:hover {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-o-transform-origin: top left;
transform-origin: top left;
border: 15px double white;
}

#Thailand:hover {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-o-transform-origin: top left;
transform-origin: top left;
border: 15px double white;
}

#Vietnam:hover {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-o-transform-origin: top left;
transform-origin: top left;
border: 15px double white;
}



.img-circle {
    margin: 10px 60px 200px 60px;
    border: 4px solid white;
    border-radius: 50%;
  }

div.text-about {
  height: 190px;
  border-radius: 5px;
  border: solid 3px red;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'constantia';
  color: black;
  font-size: large;
  text-align: center;
}

#outerdiv {
    width: 90%; 
    height: 90%; 
    position:fixed; 
    text-align:center
  }

#googleMap {
    width: 70%; 
    height: 100%; 
    margin:0px auto; 
    display: inline-block
  }

#Recipe1 {
  width: 1200px;   
    padding: 50px;
  height: 900px;
  border-radius: 5px;
  border: solid 3px red;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'constantia';
  color: black;
  font-size: large;
  text-align: center;
  left: 10%;
  position: absolute; top: 300px; left: 150px;
}

#Recipe1 h1{
  color: black;
  font-size: xx-large;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

.FoodTitle h1{
  font-family: 'constantia';
  color: black;
  font-size: 1000%;
  text-align: left;
}

#Method {
  text-align: left;
}

#Recipe2 {
  width: 1200px;   
    padding: 50px;
  height: 2000px;
  border-radius: 5px;
  border: solid 3px red;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'constantia';
  color: black;
  font-size: large;
  text-align: center;
  position: absolute; top: 1300px; left: 150px;
  left: 10%;
    float:left;
    clear:both;

}

#Recipe2 h1{
  color: black;
  font-size: xx-large;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

#Recipe3 {
  width: 1200px;   
    padding: 50px;
  height: 1400px;
  border-radius: 5px;
  border: solid 3px red;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'constantia';
  color: black;
  font-size: large;
  text-align: center;
  position: absolute; top: 1300px; left: 150px;
  left: 10%;
    float:left;
    clear:both;
}

#Recipe3 h1{
  color: black;
  font-size: xx-large;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

#Recipe4 {
  width: 1200px;   
    padding: 50px;
  height: 1000px;
  border-radius: 5px;
  border: solid 3px red;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'constantia';
  color: black;
  font-size: large;
  text-align: center;
  left: 10%;
  position: absolute; top: 300px; left: 150px;
}

#Recipe4 h1{
  color: black;
  font-size: xx-large;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

#Recipe5 {
  width: 1200px;   
    padding: 50px;
  height: 1725px;
  border-radius: 5px;
  border: solid 3px red;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'constantia';
  color: black;
  font-size: large;
  text-align: center;
  position: absolute; top: 1400px; left: 150px;
  left: 10%;
    float:left;
    clear:both;
}

#Recipe5 h1{
  color: black;
  font-size: xx-large;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

#Submit {
  font-family: 'constantia';
  color: red;
  font-size: 125%;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
  text-align: center;
}

#descriptionSubmit {
  font-size: xx-small;
  color: black;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
  text-align: center;
}

form {
  height: 625px;
  width: 900px;
  border-radius: 5px;
  border: solid 3px white;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'constantia';
  color: black;
  font-size: large;
  text-align: left;
  padding-left: 30px;
  padding-top: 30px;
  position: absolute; top: 400px; left: 275px;
}

footer{
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  color: white;
  text-align: center;
}
