body { 
	padding-top: 70px; 
	min-height: 600px;
	margin-bottom: 0;
	background-image: url('Images/Gallery1.jpeg'); 
	background-size: cover; 
	background-attachment: fixed;
}

.nav a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.hover-item {
  color: black;
}

.nav ul {
  display: inline;
}
.nav li {
  display: inline-block;
}

.navbar-default {
    background-color: #304155;
    height: 40px; 
}    

.Title h1{
	font-family: 'constantia';
	color: red;
	font-size: 1200%;
	-webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: white;
     text-align: center;

}

h1{
	font-family: 'constantia', bold;
   color: white;
	font-size: 500%;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}

#China:hover {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-o-transform-origin: top left;
transform-origin: top left;
border: 15px double white;
}

#Thailand:hover {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-o-transform-origin: top left;
transform-origin: top left;
border: 15px double white;
}

#Vietnam:hover {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
-o-transform: scale(1.25);
transform: scale(1.25);
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-o-transform-origin: top left;
transform-origin: top left;
border: 15px double white;
}

footer{
	color: white;
   position: bottom;
   bottom:0;
   width:100%;
   height:60px;  
   text-align: center;
}

.img-circle {
    margin: 10px 60px 200px 60px;
    border: 4px solid white;
    border-radius: 50%;
  }

div.text-about {
  height: 190px;
  border-radius: 5px;
  border: solid 3px red;
  background-color: white;
  font-family: 'constantia';
  color: black;
  font-size: large;
  text-align: center;
}

#outerdiv {
    width: 90%; 
    height: 90%; 
    position:fixed; 
    text-align:center
  }

#googleMap {
    width: 70%; 
    height: 100%; 
    margin:0px auto; 
    display:inline-block
  }

#Recipe1 {
  width: 1200px;   
    padding: 50px;
  height: 900px;
  border-radius: 5px;
  border: solid 3px red;
  background-color: white;
  font-family: 'constantia';
  color: black;
  font-size: large;
  text-align: center;
   position:absolute;
  left: 10%;

}

#Recipe1 h1{
  color: black;
  font-size: xx-large;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

.FoodTitle h1{
  font-family: 'constantia';
  color: black;
  font-size: 1000%;
  text-align: left;
}

#Method {
  text-align: left;
}
<<<<<<< HEAD
	* {box-sizing:border-box}
=======


=======

	* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
>>>>>>> origin/master
}
>>>>>>> origin/master
