body { 
	padding-top: 70px; 
}

.Title {
	padding-top: 90px;
	min-height: 600px;
	margin-bottom: 0;
	background-image: url('Images/Gallery1.jpeg'); 
	background-size: cover; 
	background-attachment: fixed;

	* {box-sizing:border-box}